{% extends 'continental.html' %}
{% load static %}
{% block title %} {% endblock %}

{% block content %}
<!-- section 1 for standards-->


<style>
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 300, 600, 700);

      html {
        font-family: "Open Sans", sans-serif;
      }
{% comment %}
      h1 {
        color: #444;
      } {% endcomment %}




      .cup .btn {
        position: absolute;
        top: 40%;
        border-radius: 15px;

        left: 48%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font-size: 16px;
        padding: 12px 24px;
        cursor: pointer;
        text-align: center;
      }


      body {
        font-family: Arial;
        font-size: 17px;
      }

      .food {
        position: relative;
        max-width: 100%;
        margin: 0 auto;
      }

      .food img {vertical-align: middle;}

      .food .note {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
      }



      .blink29 {
        animation: blinker 6s linear infinite;
        color: black;
      }
      @keyframes blinker {
        50% {
          opacity: 0;
        }

      }



      .glow98 {
        text-shadow: 0 0 5px gold, 0 0 10px gold,
        0 0 20px gold, 0 0 40px gold;
      }



      .glow01 {
        text-shadow: 0 0 5px darkGreen	, 0 0 10px darkGreen	,
        0 0 20px darkgreen	, 0 0 40px darkGreen	;
      }

      .navbar-toggler-icon {
        background-image: none!important;
        background-color: darkslategrey;
        height: 3px;
        width: 25px;
        margin: 10px 0;
        position: relative;
        transition: all 0.35s ease-out;
        transform-origin: center;
      }
      .navbar-toggler-icon::before {
        display: block;
        background-color: darkslategrey;
        height: 3px;
        content: "";
        position: relative;
        top: -7px;
        transition: all 0.15s ease-out;/*taken down to hide quicker*/
        transform-origin: center;
      }

      .navbar-toggler-icon::after {
        display: block;
        background-color: darkslategrey;
        height: 3px;
        content: "";
        position: relative;
        top: 4px;
  }


  .glow9 {
    text-shadow: 0 0 5px gold, 0 0 10px gold,
    0 0 20px gold, 0 0 40px gold;
  }


  .glow91 {
    text-shadow: 0 0 5px darkslategrey, 0 0 10px darkslategrey,
    0 0 20px darkslategrey, 0 0 40px darkslategrey;
  }


  .glow989 {
    text-shadow: 0 0 5px midnightblue, 0 0 10px midnightblue,
    0 0 10px midnightblue, 0 0 20px midnightblue;
  }

  .glow68 {
    text-shadow: 0 0 5px gold, 0 0 10px gold,
    0 0 20px gold, 0 0 40px gold;
  }

  .glow977 {
    text-shadow: 0 0 5px white, 0 0 10px white,
    0 0 20px white, 0 0 40px white;
  }

  .blink9 {
    animation: blinker 6s linear infinite;
    color: yellow;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }

  }


    .blink90 {
      animation: blinker 6s linear infinite;
      color: orange;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }



 .blink900 {
      animation: blinker 2s linear infinite;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }


   .blink908 {
      animation: blinker 3s linear infinite;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }

  </style>





  <!-- Promo Section - "We know design" -->
  <div class="w3-container " style="padding:115px 16px; background-color: 	 #36454F	;">
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <h1 style="font-family: Georgia; font-weight: 600; color: white;">Anniversary Celebration Planning</h1>
        <p style="font-family: Arial; font-weight: 200; color: white;" class="w3-large w3-hide-small"> CALL US TO HELP YOU PLAN AND MAKE YOUR ANNIVERSARY CELEBRATION A SUCCES.</p>
        <p style="margin-top: -1px;" class="w3-hide-small"> <a href="tel:08103652434" class="w3-button w3-black" style="text-decoration: none; color: white; font-weight: 600;"><img style="margin-left: -9px" src="https://i.postimg.cc/cJFBF1Qx/telephone-icon1-modified.png" width="40" height="40" class="rounded-circle z-depth-0" alt=""> Call Us Now </a></p><br>
  
      </div>
      <div class="w3-col m6">
        <img class="w3-image w3-round-large" src="https://i.postimg.cc/5t7vJdBf/happyannivarsary.jpg" alt="Buildings" width="700" height="394" style="height: 350px;  border: 1px solid #FFFFFF	;     ">
        <br>
        <br>
        <p style="font-family: Arial; font-weight: 200; color: white;" class="w3-hide-large"> CALL US TO HELP YOU PLAN AND MAKE YOUR ANNIVERSARY CELEBRATION A SUCCES.</p>
        <p style="margin-top: -1px;" class="w3-hide-large"> <a href="tel:08103652434" class="w3-button w3-black" style="text-decoration: none; color: white; font-weight: 600;"><img style="margin-left: -9px" src="https://i.postimg.cc/cJFBF1Qx/telephone-icon1-modified.png" width="40" height="40" class="rounded-circle z-depth-0" alt=""> Call Us Now </a></p><br>
  
        <p></p>
  
      </div>
    </div>
  </div>
  </div>
  <!-- Team Section -->
  <div class="w3-container" style="padding:60px 16px; background-color: #DADBDD	" id="team" >
    <h1 class="w3-center" style="font-family: Georgia; font-weight: 900; color: #000000		">Anniversary Celebration Planning</h1>
    <p class="w3-center " style="color: #2C3539		;font-variant-caps: ; font-family: Rockwell; font-size: 20px;">Call us now and lets help you to decorate and plan your birthday party.</p>
   
  
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for bodys6 in body %}
          <div class="col">
            <div class="card">
              <img  width=200px, height=400px src="{{bodys6.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title" style="color: black; text-align:center; font-weight:900; font-size: 13px"> <span style="color:"> {{bodys6.body}}</span></p>
                  <small class="text-muted" style="color: DarkSlateGray"> </small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
  
  
  
  
  {%endblock%}
  