{% extends 'continental.html' %}

{% load static %}
{% block title %} {% endblock %}

{% block content %}
<!-- section 1 for standards-->


<style>
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 300, 600, 700);
 
       html {
         font-family: "Open Sans", sans-serif;
       }
 {% comment %}       
       h1 {
         color: #444;
       } {% endcomment %}
 
 
 
 
       .cup .btn {
         position: absolute;
         top: 40%;
         border-radius: 15px;
 
         left: 48%;
         transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         font-size: 16px;
         padding: 12px 24px;
         cursor: pointer;
         text-align: center;
       }
 
 
       body {
         font-family: Arial;
         font-size: 17px;
       }
       
       .food {
         position: relative;
         max-width: 100%;
         margin: 0 auto;
       }
       
       .food img {vertical-align: middle;}
       
       .food .note {
         position: absolute;
         bottom: 0;
         background: rgb(0, 0, 0); /* Fallback color */
         background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
         color: #f1f1f1;
         width: 100%;
         padding: 20px;
       }
 
 
 
       .blink29 {
         animation: blinker 6s linear infinite;
         color: black;
       }
       @keyframes blinker {
         50% {
           opacity: 0;
         }
         
       }
 
 
 
       .glow98 {
         text-shadow: 0 0 5px gold, 0 0 10px gold,
         0 0 20px gold, 0 0 40px gold;
       }
 
 
 
       .glow01 {
         text-shadow: 0 0 5px darkGreen	, 0 0 10px darkGreen	,
         0 0 20px darkgreen	, 0 0 40px darkGreen	;
       }
 
       .navbar-toggler-icon {
         background-image: none!important;
         background-color: darkslategrey;
         height: 3px;
         width: 25px;
         margin: 10px 0;
         position: relative;
         transition: all 0.35s ease-out;
         transform-origin: center;
       }
       .navbar-toggler-icon::before {
         display: block;
         background-color: darkslategrey;
         height: 3px;
         content: "";
         position: relative;
         top: -7px;
         transition: all 0.15s ease-out;/*taken down to hide quicker*/
         transform-origin: center;
       }
 
       .navbar-toggler-icon::after {
         display: block;
         background-color: darkslategrey;
         height: 3px;
         content: "";
         position: relative;
         top: 4px;
   }
 
 
   .glow9 {
     text-shadow: 0 0 5px gold, 0 0 10px gold,
     0 0 20px gold, 0 0 40px gold;
   }
    
   .glow68 {
     text-shadow: 0 0 5px white, 0 0 10px white,
     0 0 20px white, 0 0 40px white;
   }  
   
   
   .glow98 {
    text-shadow: 0 0 5px orange, 0 0 10px orange,
    0 0 20px orange, 0 0 40px orange;
  }
 
   .glow977 {
     text-shadow: 0 0 5px white, 0 0 10px white,
     0 0 20px white, 0 0 40px white;
   }
 
   .blink9 {
     animation: blinker 6s linear infinite;
     color: yellow;
   }
   @keyframes blinker {
     50% {
       opacity: 0;
     }
 
   } 
   
   
     .blink90 {
       animation: blinker 6s linear infinite;
       color: orange;
     }
     @keyframes blinker {
       50% {
         opacity: 0;
       }  
     }
 
 
 
  .blink900 {
       animation: blinker 2s linear infinite;
     }
     @keyframes blinker {
       50% {
         opacity: 0;
       }  
     }
 
 
    .blink908 {
       animation: blinker 3s linear infinite;
     }
     @keyframes blinker {
       50% {
         opacity: 0;
       }  
     }
 
   </style>






  <!-- Promo Section - "We know design" -->
<div class="w3-container " style="padding:115px 16px; background-color: 	 #36454F	;">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h1 class="w3-hide-small w3-hide-medium" style="font-family: Georgia; font-weight: 600; color: white; font-size: 29px;">Alcholic Drink Categories</h1>
      <h1 class="w3-hide-small w3-hide-large" style="font-family: Georgia; font-weight: 600; color: white; font-size: 19px;">Alcholic Drink Categories</h1>
      <p style="font-family: Comic sans ms; font-weight: 200; color: white;" class="w3-hide-large w3-hide-small">RiteDishes provides you with all the varities of Alcholic drinks.</p>
      <p style="font-family: Comic sans ms; font-weight: 200; color: white;" class="w3-hide-medium w3-hide-small">RiteDishes provides you with all the varities of Alcholic drinks.</p>
      <p style="font-size: 13px; margin-top: -1px;" class="w3-hide-small w3-hide-large"><a href="{% url 'Alcholic:FoodDrunk' %}" class="w3-button w3-black"><i class="fa fa-th"> </i>  View Our Alcholic drinks</a></p><br>
      <p style="margin-top: -1px;" class="w3-hide-small w3-hide-medium"><a href="{% url 'Alcholic:FoodDrunk' %}" class="w3-button w3-black"><i class="fa fa-th"> </i>  View Our Alcholic drinks</a></p><br>
    </div>
    <div class="w3-col m6">
      <h1 class="w3-hide-medium w3-hide-large" style="font-family: Georgia; font-weight: 600; color: white;  font-size: 24px;  margin-left: 5px;  margin-top: -75px;">Alcholic Drink Categories</h1>
      <img class="w3-image w3-round-large" src="https://i.postimg.cc/fRHg4gqr/imageonline-co-gifimage-1.gif" alt="Buildings" width="700" height="394" style="height: 350px;  border: 1px solid #FFFFFF	;     ">
      <br>
      <br>
      <p style="font-family: Comic sans ms; font-weight: 200; color: white;" class="w3-hide-large w3-hide-medium">RiteDishes provides you with all the varities of Alcholic drinks.</p>
      <p style="margin-top: -1px;" class="w3-hide-large w3-hide-medium"><a href="{% url 'Alcholic:FoodDrunk' %}" class="w3-button w3-black"><i class="fa fa-th"> </i> View Our Alcholic drinks</a></p><br>


    </div>
  </div>
</div>
</div>
<!-- Team Section -->
<div class="w3-container" style="padding:60px 16px; background-color: #DADBDD	" id="team" >
  <h1 class="w3-center" style="font-family: Georgia; font-weight: 900; color: #000000		">Soft Drinks Categories</h1>
  <p class="w3-center " style="color: #2C3539		;font-variant-caps: ; font-family: Rockwell; font-size: 20px;">RiteDishes is ready to serve you with all the varities of soft drinks</p>
 
  <div class="row row-cols-1 row-cols-md-3 g-4">
{% for rites5 in rite %}
    <div class="col">
      <div class="card">
        <img  width=200px, height=400px src="{{rites5.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: indigo; font-weight:900">{{rites5.title}} <span class="card-title" style="color: #2C3539; font-weight:900"> - {{rites5.body2}}</span></h5>
         <a href="{% url 'RiteDrink:drink_detail' rites5.slug %}"> <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Order Now</button></a>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <br>
</div>
{%endblock%}

