{% extends 'continental.html' %}
  <!-- Page Content -->
  {% load static %}
  {% block content %}
<style>

  .food {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }

  .food img {vertical-align: middle;}

  .food .note {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 15px;
  }

        .button {
          background-color: #1c87c9;
          -webkit-border-radius: 10px;
          border-radius: 10px;
          border: none;
          color: black;
          cursor: pointer;
          display: inline-block;
          font-family: sans-serif;
          font-size: 20px;
          padding: 10px 15px;
          text-align: center;
          text-decoration: none;
        }
        @keyframes glowing {
          0% {
            background-color: #FFAE42;
            box-shadow: 0 0 5px #004225;
          }
          50% {
            background-color: #FFAE42;
            box-shadow: 0 0 20px #004225;
          }
          100% {
            background-color: #FFAE42	;
            box-shadow: 0 0 5px #033E3E;
          }
        }
        .button {
          animation: glowing 1300ms infinite;
        }


      
        .button9 {
          background-color: #12AD2B;
          border: none;
          -webkit-border-radius: 10px;
          border-radius: 10px;
          color: white;
          padding: 15px 32px;
          text-align: center;
          font-weight: bold;
          text-decoration: none;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          -webkit-transition-duration: 0.4s; /* Safari */
          transition-duration: 0.4s;
        }
        
        

        
      



{% comment %} 
        .btn1 {
          margin-right: 160px;
          
        } {% endcomment %}







  .cup .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    text-align: center;
  }

  .blink29 {
    animation: blinker 6s linear infinite;
    color: black;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }

  }



  .blink69 {
    animation: blinker 6s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }

  }



  .glow68 {
    text-shadow: 0 0 5px gold, 0 0 10px gold,
    0 0 20px gold, 0 0 40px gold;
  }



  .glow20 {
    text-shadow: 0 0 5px yellow, 0 0 10px yellow,
    0 0 20px yellow, 0 0 40px yellow;
  }

  .glow21 {
    text-shadow: 0 0 5px darkslategrey, 0 0 10px darkslategrey,
    0 0 20px darkslategrey, 0 0 40px darkslategrey;
  }


  .glow287 {
    text-shadow: 0 0 2px #033E3E, 0 0 5px #033E3E,
    0 0 5px #033E3E, 0 0 10px #033E3E;
  }


  .glow212 {
    text-shadow: 0 0 5px #5F9EA0, 0 0 10px #5F9EA0,
    0 0 20px #5F9EA0, 0 0 40px #5F9EA0;
  } 

  .glow29 {
    text-shadow: 0 0 5px #004225, 0 0 10px #004225,
    0 0 20px #004225, 0 0 40px #004225;
  }



  .clip {
    position: relative;
    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px; 
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .shirt {
    position: relative;
    font-family: Arial;
  }
  
  .text-war {
    position: absolute;
    top: 80px;
    left: 10px; 
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgb(255,255,255); /* Black background with 0.5 opacity */
    color: black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
  }






  {% comment %} @media only screen and (max-height: 600px) {
    .clippics {
     max-height:100px;
     width:auto;
    }
  } {% endcomment %}
  

  .club{
    max-height:;
    min-height: 350px;
}


.ribbon {
  width: 110px;
  font-size: 14px;
  padding: 3px;
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: center;
  transform: rotate(0deg);
  background-color: black;
  transform-origin: 100% 0; /* or top left */

  color: white;
  
}
  </style>





  <!-- Promo Section - "We know design" -->
<div class="w3-container " style="padding:30px 1px; background-color: 	 #36454F	;">
  <div class="w3-row-padding">
    <div class="w3-col m6">



      <div class="">

        <div class="card text-center">
          <div class="card-header">
            <marquee><span style="color: maroon; font-weight:bold; font-variant: small-caps; font-style: italic">Order Your {{post.title}} Now And We will deliver it to your door</span></marquee>

          </div>
      <div class="clip">
       <span class="w3-hide-small"> <img  height="500px"src="{{post.image.url}}" class="club border border-5 border-color: coral" alt="" style="border-style: solid;" width="100%"></span>
       <span class="w3-hide-large w3-hide-medium"><img  height="50px"src="{{post.image.url}}" class="club border border-5 border-color: coral" alt="" style="border-style: solid;" width="100%"></span>
        <div class="text-block glow01">
          <h4></h4>
          <h4 style="font-weight:900">{{post.title}}</h4>
        </div>
      </div>

<div class="modal fade" id="exampleModalToggle" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1"  style="background: #25d366 url('https://i.postimg.cc/Gp6ZPF2q/gal4.jpg') no-repeat  center;   background-size: cover; ">
  <div class="modal-dialog " >
    <div class="modal-content " >
      <div class="modal-header" style="background-color: #033E3E; border-color:  #033E3E">
      <img src="https://i.postimg.cc/GtCZ5Cb0/imageonline-co-emojiadded.png" width="50" height="50" style="   margin-right: 15px; margin-bottom: 13px;"  alt="" align="left">
      <h5 style="text-align: left; color: white; font-weight: 900" >RITEDISHES <img width="21" height="21" style="margin-bottom: 5px" src="https://img.icons8.com/glyph-neue/64/40C057/approval.png" alt="approval"/> <BR><span style="font-size: 20px;  font-weight: normal;font-family: Courier New">Online</span></h5>
  
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"  aria-label="Close"></button>
      </div>
      <div class="shirt">
      <img src="https://i.postimg.cc/02JhmrbG/peakpx-2.jpg" alt="Lights" width="100%" height="400px">
        <div class="text-war">
          <h4></h4>
          <h6 style="text-align: left; font-family: serif; color: #1F6357	">Ritedishes🍛</h6>
          <h4 style="text-align: left; font-family: Georgia">Hi there 👋🏼</h4>
          <h6 style="text-align: left; font-family: Lucida Sans Unicode">Click on start chat to place your</h6> 
          <h6 style="text-align: left; font-family: Lucida Sans Unicode"> order</h6>
        </div>
      </div>
      <div style="background-color: #FFFAFA	">
     <a href="https://wa.me/message/UFD262DNNSMCI1" style="text-decoration: none"> <button  type="button" class="btn" style="display: table; font-family: sans-serif; text-decoration: none; margin: 0.6em auto; color: white; font-size: 17px; padding: 10px 80px; border-radius: 2em; font-weight: bold; background-color: #25d366"> <img style="margin-right: 2px; margin-bottom: 5px;" height=25px src="https://tochat.be/click-to-chat-directory/css/whatsapp.svg"><span style="color: black"> Start Chat</span></button></a>

      </div>

      <div class="modal-footer" style="background-color: #2E1A47	">
        <span  data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" ><image height="50px" src="https://i.postimg.cc/T3grHwLg/csllnow-modified.png"></span>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" style="background: #25d366 url('https://i.postimg.cc/Gp6ZPF2q/gal4.jpg') no-repeat  center;   background-size: cover; "> 
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #000080	; border-color: #000080">
      <img src="https://i.postimg.cc/GtCZ5Cb0/imageonline-co-emojiadded.png" width="50" height="50" style="   margin-right: 15px; margin-bottom: 13px;" 4 alt="" align="left"> 
      <h5 style="text-align: left; color: white; font-weight: 900" >RITEDISHES <img width="21" height="21" style="margin-bottom: 5px" src="https://img.icons8.com/glyph-neue/64/40C057/approval.png" alt="approval"/> <BR><span style="font-size: 20px;  font-weight: normal;font-family: Courier New">Online</span></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"  aria-label="Close"></button>

      </div>
      <div class="shirt">
      <img src="https://i.postimg.cc/02JhmrbG/peakpx-2.jpg" alt="Lights" width="100%" height="400px">
        <div class="text-war">
          <h4></h4>
          <h6 style="text-align: left; font-family: serif; color: #1F6357	">Ritedishes🍛</h6>
          <h4 style="text-align: left; font-family: Georgia">Hi there 👋🏼</h4>
          <h6 style="text-align: left; font-family: Lucida Sans Unicode">Click on contact us to place your</h6> 
          <h6 style="text-align: left; font-family: Lucida Sans Unicode"> order</h6>
        </div>
        <div style="background-color: #FFFAFA	">
         <a href="tel:08103652434" style="text-decoration: none"> <button  type="button" class="btn" style="display: table; font-family: sans-serif; text-decoration: none; margin: 0.6em auto; color: white;  font-size: 17px; padding: 10px 80px; border-radius: 2em; font-weight: bold; background-color: #000080	"> <img style="margin-right: 2px; margin-bottom: 5px" height=25px src="https://i.postimg.cc/Gp2KHRgf/telephone-call.png"><span style="color: white; font-size: 15px"> Contact Us!</span></button></a>
    
          </div>
        </div>

      <div class="modal-footer" style="background-color: #2E1A47	">
     <a style="text-decoration: none"> <button data-bs-target="#exampleModalToggle" data-bs-toggle="modal"  type="button" class="btn" style="display: table; font-family: sans-serif; text-decoration: none; margin: 0em auto; color: white; font-size: 20px; padding: 8px 15px; border-radius: 2em; font-weight: bold; background-color: #25d366"> <img style="margin-right: 2px; margin-bottom: 5px;" height=25px src="https://tochat.be/click-to-chat-directory/css/whatsapp.svg"><span style="color: black"> Chat Us</span></button></a>

      </div>
    </div>
  </div>
</div>
<div>
  <br>
  <div class="d-grid gap-2 col-6 mx-auto">
    <a type="submit" class="button" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" style="font-weight: bold; ">ORDER NOW</a>




    <br>
</div>
</div>

</div>
<br>
</div>










</div>

<div class="w3-col m6">
  <div class="card" style="width: 100%; margin-bottom:  20px;">
    <div class="card-header">
  <p class="glow212" style="font-weight:900; color: #033E3E; font-size: 25px; text-align: left">DESCRIPTION</p> 
      
    </div>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><h5 style="text-align: left; font-family: sans-serif;">
    {{post.body2}}<br>
    {{post.body3}}<br>
    {{post.body4}}<br>
    {{post.body5}}<br>
    {{post.body6}}<br>
    {{post.body7}}<br>
    {{post.body8}}<br> 
    <br><br>     
  </h5></li>    
</ul>
</div>
  </div>

  <div class="w3-col m6">
    <div class="w3-hide-small" style="width: 100%; margin-bottom:  20px;">
  <div class="card text-bg-dark">
    <img height="358px"  src="https://i.postimg.cc/bwMHwDN3/imageonline-co-gifimage.gif" class="card-img" alt="..."><span class="ribbon" style="font-weight: bold">RiteDishes Ads</span>

  </div>
  </div>
</div>


</div>
</div>

<!-- Team Section -->
<div class="w3-container" style="padding:60px 10px; background-color: #DADBDD	" id="team" >
  <h1 class="w3-center" style="font-family: Georgia; font-weight: 900; color: #000000; margin-top: -40px;		">You May Also Like </h1>
 
 
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/XNrCHfMM/happybirth2.jpg" alt="New York" style="width:100%; height: 250px" class="card-img-top w3-hover-opacity">
        <div class="card-body">
          <h5 class="card-title"><b>Birthday Party</b></h5>
          <p class="card-text" style="color: #123456; font-weight: 600;">Call us now and lets help you to decorate and plan your birthday party.</p>
       <a href="{% url 'EventBirth' %}"> <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View More</button></a>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/mk1kzrQB/wedpics21.jpg" alt="Paris" style="width:100%; height: 250px" class="card-img-top w3-hover-opacity">
        <div class="card-body">
          <h5 class="card-title"><b>Wedding Party</b></h5>
          <p class="card-text" style="color: #123456; font-weight: 600;">Call us now lets help you plan, decorate and make your wedding a success.</p>
       <a href="{% url 'EventWed' %}"> <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View More</button></a>


        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/BQbGryB6/dieting.jpg" alt="San Francisco" style="width:100%; height: 250px" class="card-img-top w3-hover-opacity">
        <div class="card-body">
          <h5 class="card-title"><b>Guide On Diet</b></h5>
          <p  class="card-text" style="color: #123456; font-weight: 600;">Call us and lets guide and advise you on the diet that will be right for your health.</p>
       <a href="{% url 'EventDiet' %}"> <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View More</button></a>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/g00h7rjT/NAME3.jpg" alt="Paris" style="width:100%; height: 250px" class="card-img-top w3-hover-opacity">
        <div class="card-body">
          <h5 class="card-title"><b>Naming Ceremony </b></h5>
          <p class="card-text" style="color: #123456; font-weight: 600;">Call us now lets help you decorate and make your naming ceremony a success.</p>
       <a href="{% url 'EventName' %}"> <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View More</button></a>

         </div>
      </div>
    </div>


    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/x1C6pR3B/hotel7.jpg" alt="Paris" style="width:100%; height: 250px" class="card-img-top w3-hover-opacity">
        <div class="card-body">
          <h5 class="card-title"><b>Hotel Management </b></h5>
          <p  class="card-text" style="color: #123456; font-weight: 600;">Call us now lets guide you on the right way to manage your hotel.</p>
       <a href="{% url 'EventHot' %}"> <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View More</button></a>

        </div>
      </div>
    </div>
  
    
    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/3JnpTp8K/cafeteria.jpg" alt="San Francisco" style="width:100%; height: 250px" class="card-img-top w3-hover-opacity">
        <div class="card-body">
          <h5 class="card-title"><b>Cafeteria Management </b></h5>
          <p  class="card-text" style="color: #123456; font-weight: 600;">Call us now lets guide and advise you on the right way to manage your Cafeteria.</p>
       <a href="{% url 'EventCaf' %}"> <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View More</button></a>

        </div>
      </div>
    </div>


    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/mZvSsw5J/EVENTPLANNING.jpg" alt="Paris" style="width:100%; height: 250px" class="card-img-top w3-hover-opacity">
        <div class="card-body">
          <h5 class="card-title"><b>EVENT PLANNING  </b></h5>
          <p  class="card-text" style="color: #123456; font-weight: 600;">Call us now lets plan and make your event a success.</p>
       <a href="{% url 'EventPlan' %}"> <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View More</button></a>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/xChHRfmq/ANNIVERSARY-CEL.jpg" alt="Paris" style="width:100%; height: 250px" class="card-img-top w3-hover-opacity">
        <div class="card-body">
          <h5 class="card-title"><b>ANNIVERSARY PARTY </b></h5>
          <p  class="card-text" style="color: #123456; font-weight: 600;">Call us now lets plan and make your anniversary party a remarkable one.</p>
       <a href="{% url 'EventAnn' %}"> <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View More</button></a>

        </div>
      </div>
    </div>



    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/258TV5mZ/WAITER-imageonline-co-2992975.jpg" alt="Paris" style="width:100%; height: 250px" class="card-img-top w3-hover-opacity">
        <div class="card-body">
          <h5 class="card-title"><b>RENDERING OF WAITER/WAITRESS </b></h5>
          <p  class="card-text" style="color: #123456; font-weight: 600;">Call us now and make order of waiter/waitress for your events </p>
       <a href="{% url 'EventRender' %}"> <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View More</button></a>

        </div>
      </div>
    </div>

  </div>
  </div>
  {% endblock %}

